__pycache__/
*.py[codz]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.python-version
uv.lock
.env
.claude
.claude/
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.vscode/
.ruff_cache/
.pypirc
*.log
logs/
backups/